.club-header
    display: flex
    align-items: center
    ._img
        width: 100px
        border-radius: 12px
        background-color: #4DA1FF
        height: 100px
        margin-right: 30px
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
        position: relative
        img
            width: 100%
            position: absolute
        ._icon
            width: 50%
            height: 50%
        svg
            width: 100px
            height: 100px
        path
            fill: $blue
    .--transparent-background
        background-color: transparent
    ._text
        margin-top: auto
        width: 380px
        max-width: calc(100% - 130px)
    ._right
        margin-top: auto
        margin-left: auto
    ._subtit
        font-size: 14px
        line-height: 16px
        color: rgba(43, 48, 52, 0.4)
        margin-bottom: 15px
    ._title
        font-size: 24px
        line-height: 30px
        font-weight: bold
    ._btns
        display: flex
        flex-direction: column
        align-items: flex-end
    ._btn
        display: flex
        align-items: center
        justify-content: center
        padding: 10px 20px
        border-radius: 2px
        font-size: 11px
        user-select: none
        cursor: pointer
        transition: 0.3s
        color: $white
        background-color: #C4C4C4
        &:hover
            opacity: 0.7
        &.--orange
            background-color: $orange
        &.--green
            background-color: $green
        &.--yellow
            background-color: $yellow
        &.--blue
            background-color: $blue
    ._params
        margin-top: 30px
        font-size: 11px
        color: #4A4A4A
        li
            display: flex
            // align-items: center
            margin-bottom: 10px
            &:last-child
                margin-bottom: 0
            &:before
                content: ''
                margin-top: 2px
                width: 7px
                min-width: 7px
                height: 7px
                margin-right: 8px
                border-radius: 10em
                background-color: $blue
            b
                margin-left: 5px
    ._soc
        display: flex
        align-items: center
        margin: 30px -5px 0
        a, span
            margin: 0 5px
            transition: 0.3s
            &:hover
                opacity: 0.7
        path
            fill: $blue

    +max-screen(740px)
        flex-wrap: wrap
        ._right
            margin-left: 0
        ._btns
            margin-top: 30px
            align-items: flex-start
        ._soc
            margin-top: 30px

    +max-screen(540px)
        ._text
            margin-top: 30px
            width: 100%
            max-width: 100%