.header
    ._top
        position: fixed
        z-index: 100
        top: 0
        right: 0
        display: flex
        align-content: center
        width: calc(100% - #{$navW})
        height: $topH
        border-bottom: 1px solid #DADADA
        background-color: #fff
        &__search
            position: relative
            width: 100%
            margin-left: 55px
            height: #{$topH - 1px}
            cursor: pointer
            input
                position: relative
                z-index: 1
                padding-left: 60px
                width: 100%
                height: 100%
                font-size: 16px
                line-height: 26px
                &::placeholder
                    color: rgba(152, 152, 152, 0.5)
                &:focus + span
                    path
                        fill: $darkBlue
            span
                position: absolute
                z-index: 2
                top: 0
                left: 0
                display: flex
                align-items: center
                justify-content: center
                width: 60px
                height: 100%
                svg
                    width: 21px
                    height: 21px
                path
                    fill: #DADADA
            ._cross
                display: none
        &__user
            display: flex
            align-items: center
            justify-content: center
            padding: 20px
            white-space: pre
            font-size: 12px
            font-weight: 500
            line-height: 24px
            color: $darkBlue
            cursor: pointer
            user-select: none
            transition: 0.3s
            &:hover
                opacity: 0.7
        &__btn
            position: relative
            display: flex
            align-items: center
            justify-content: center
            width: 70px
            min-width: 70px
            height: 100%
            cursor: pointer
            user-select: none
            transition: 0.3s
            &.--rightBord,
            &.--leftBord
                &:before,
                &:after
                    position: absolute
                    top: 10px
                    display: block
                    width: 1px
                    height: 40px
                    background-color: #DADADA
            &.--rightBord
                &:before
                    content: ''
                    right: 0
            &.--leftBord
                &:after
                    content: ''
                    left: 0
            path
                fill: $darkBlue
            img
                width: 21px
                opacity: 0.7
            &:hover
                opacity: 0.7
    ._cross
        position: absolute
        top: 0
        right: 0
        z-index: 5
        padding: 20px
        cursor: pointer
        transition: 0.3s
        &:hover
            opacity: 0.7
        path
            fill: $darkBlue
    ._nav
        position: fixed
        z-index: 100
        top: 0
        left: 0
        display: flex
        flex-direction: column
        align-items: flex-start
        width: $navW
        height: 100%
        background-color: #fff
        border-right: 1px solid #DADADA
        overflow: hidden auto
        @extend %no-scrollbar
        &__club
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            padding: 17px
            img
                max-width: 100%
                margin-bottom: 10px
            span
                font-size: 10px
                font-weight: 500
                line-height: 15px
                text-align: center
        &__pages
            margin-top: 20px
            a
                display: flex
                align-items: center
                justify-content: center
                width: 100%
                padding: 20px
            svg
                width: 23px
                height: 24px
            path
                fill: #323C47
        &__footer
            width: 100%
            margin-top: auto
            padding: 20px 15px
    ._balance
        display: flex
        align-items: flex-end
        justify-content: space-between
        flex-wrap: wrap
        padding-bottom: 10px
        margin-bottom: 10px
        border-bottom: 1px solid #DADADA
        white-space: pre
        &__top
            margin: 5px 0
        &__tit
            font-size: 9px
            color: #C4C4C4
            margin-bottom: 5px
        &__val
            font-size: 14px
            font-weight: 500
            line-height: 18px
            &:before
                content: '₽'
                margin-right: 3px
        &__btn
            display: flex
            align-items: center
            justify-content: center
            width: min-content
            height: 18px
            padding: 10px
            margin: 5px 0
            border-radius: 32px
            font-size: 9px
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15)
            user-select: none
            cursor: pointer
            path
                fill: $darkBlue
            &.--blue
                background: linear-gradient(159.08deg, #4576AE 1.86%, #4DA1FF 99.07%)
                color: #fff
                path
                    fill: #fff
            &.--orange
                background: linear-gradient(130.83deg, #FAD961 7.5%, #F76B1C 79.52%)
                color: #fff
                path
                    fill: #fff
            &.--plus
                svg
                    width: 15px
                    height: 15px
            &.--fill
                width: 100%
    ._info
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: center
        &__top
            display: flex
            justify-content: space-between
            width: 100%
            margin-bottom: 10px
        &__logo
            img
                height: 14px
        &__link
            margin-top: 2px
            font-size: 9px
            color: #C4C4C4
            text-decoration: underline
            cursor: pointer
        &__phone
            font-size: 9px
            color: #C4C4C4
            text-align: center
            cursor: pointer

    +max-screen(940px)
        ._top
            width: 100%
            padding: 0
            &__user
                margin-left: auto
            &__search
                position: absolute
                z-index: 5
                top: 0
                left: 0
                width: 100%
                margin-left: 0
                overflow: hidden
                transition: 0.3s
                background-color: #fff
                input
                    padding-right: 60px
                ._cross
                    display: block
                    z-index: 5
                &.--hide
                    left: 70px
                    width: 60px
                    input,
                    ._cross
                        opacity: 0
                        visibility: hidden
        ._nav
            width: 100%
            background-color: #fff
            transition: 0.3s
            &.--hide
                transform: translateX(-100%)

    +max-screen(480px)
        ._top
            &__search
                input
                    padding-left: 50px
                    padding-right: 50px
                span
                    width: 50px
                &.--hide
                    left: 50px
                    width: 50px
            &__btn
                width: 50px
                min-width: 50px
        ._cross
            padding: 20px 16px
                
