.nav-header
    width: 100%
    user-select: none
    margin-bottom: 20px
    ._item
        width: 100%
    ._itemHead
        position: relative
        z-index: 3
        display: block
        width: calc(100% + 1px)
        padding: 20px
        background: #FFFFFF
        border: 1px solid #DADADA
        border-top: none
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15)
        border-bottom-left-radius: 10px
        border-bottom-right-radius: 10px
        cursor: pointer
        &__icon
            display: flex
            align-items: center
            justify-content: center
            width: 40px
            height: 40px
            margin-bottom: 10px
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15) 
            background: $blue
            border-radius: 5px
            overflow: hidden
            img._icon
                max-height: 25px
                max-width: 25px
            img._img
                max-height: 90%
                max-width: 90%
        &__tit
            font-size: 10px
            line-height: 15px
            font-weight: 500
    .--transparent-background
        background-color: transparent
    ._itemList
        position: relative
        z-index: 2
        margin-top: -20px
        padding: 30px 10px 30px
        background-color: #EFF0F4
        overflow: hidden
        transition: 0.3s
        &__tit
            font-size: 9px
            color: #C4C4C4
            margin-bottom: 10px
        &.--hide
            max-height: 0
            padding-top: 0
            padding-bottom: 0
    ._itemLink
        display: flex
        padding: 5px
        border-radius: 4px
        transition: 0.3s
        cursor: pointer
        &__state
            min-width: 4px
            height: 4px
            margin-top: 3px
            margin-right: 5px
            border-radius: 10em
            background-color: #aaa
        &__name
            font-size: 10px
            line-height: 12px
            font-weight: 500
        &__num
            display: flex
            align-items: center
            justify-content: center
            min-width: 30px
            height: 12px
            background-color: #C4C4C4
            border-radius: 10em
            font-size: 10px
            color: #fff
            margin-left: auto
            transition: 0.3s
        &:hover
            background: #FFFFFF
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15)
            ._itemLink__num
                background-color: $blue


.nav-header-link
    width: 100%
    margin-top: 10px
    padding-top: 25px
    border-top: 1px solid #DADADA
    user-select: none
    &__item
        position: relative
        display: flex
        align-items: center
        width: 100%
        height: 30px
        margin-bottom: 25px
        fill: #424242
        color: #424242
        cursor: pointer
        &:after
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 3px
            height: 100%
            background-color: #424242
            border-radius: 10em
            opacity: 0
            transition: 0.3s
        &:active
            color: $blue
            fill: $blue
            &:after
                background-color: $blue
                opacity: 1
        &:hover
            &:after
                opacity: 1
    &__icon
        display: flex
        align-items: center
        justify-content: center
        width: 55px
        height: 100%
        fill: inherit
        path
            fill: inherit
    &__text
        display: flex
        align-items: center
        width: calc(100% - 55px)
        font-size: 12px
        font-weight: 500
        color: inherit
