.pageHeader
    display: flex
    flex-wrap: wrap
    align-items: center
    margin-bottom: 25px
    ._text
        margin: 10px 0
        margin-right: auto
    ._title
        font-size: 38px
        color: #233539
    ._subtitle
        margin-top: 10px
        font-size: 14px
        color: rgba(43, 48, 52, 0.4)
    ._status
        margin: auto 0 10px
        margin-right: 30px
        font-size: 14px
        line-height: 16px
        color: rgba(43, 48, 52, 0.4)
    ._btns
        display: flex
        align-items: center
        justify-content: flex-end
        margin: 0 -5px
    ._btn
        display: flex
        align-items: center
        justify-content: center
        height: 36px
        padding: 0 16px
        border-radius: 4px
        background: #C4C4C4
        color: #fff
        font-size: 14px
        font-weight: 300
        text-align: center
        margin: 5px
        cursor: pointer
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
        &:hover
            box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2)
        &.--blue
            background-color: $blue

    +max-screen(740px)
        ._text,
        ._status,
        ._children,
        ._bnts
            width: 100%
            margin-right: 0
            
        ._children
            .verifi
                margin: 30px auto 20px 0
