.page
	position: relative
	z-index: 1
	overflow: hidden
	width: 100%
	min-height: 100vh
	padding-top: $topH
	padding-left: $navW
	&__body
		width: 100%
		min-height: calc(100vh - #{$topH})
		padding: 50px 60px
		background-color: #f7f7f7
		.loader.--page
			min-height: calc(100vh - 60px)
		.pl
			margin-top: -25px
	+max-screen(940px)
		padding-left: 0
		&__body
			padding: 30px 20px
			.pl
				margin-top: -5px

.wrap
	position: relative
	margin: 0 auto
	max-width: $maxW
	width: 100%
	// padding-left: $padd
	// padding-right: $padd

	// +max-screen(640px)
	// 	padding-left: $padd-xs
	// 	padding-right: $padd-xs

// .wrap-inner
//     display: block
//     width: auto
//     margin-left: -$wrapperM-padd
//     margin-right: -$wrapperM-padd

//     +max-screen($screenSL)
//         margin-left: -$wrapperS-padd
//         margin-right: -$wrapperS-padd

//     +max-screen($screenSS)
//         margin-left: -$wrapperSS-padd
//         margin-right: -$wrapperSS-padd
