.popup
    position: fixed
    top: 0
    left: 0
    z-index: 1000
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    transition: 0.3s
    .loader
        &__img
            height: auto !important
    &__bg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.55)
        user-select: none
    &__content
        position: relative
        max-width: 100%
        max-height: 100%
        background-color: #fff
        border-radius: 10px
        overflow: auto
    &__top
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        &.--tit
            border-bottom: 1px solid #E9EFF4
            margin-bottom: 10px
    &__title
        width: 100%
        padding: 20px
        font-size: 20px
    &__body
        width: 100%
        padding: 0 20px 20px
    &__cross
        padding: 20px
        margin-left: auto
        user-select: none
        cursor: pointer
        svg
            width: 16px
            height: 16px
            path
                fill: $darkBlue

    &.--hide
        opacity: 0
        visibility: hidden

    +max-screen(640px)
        &__content
            height: 100%
            max-height: 100%
            padding: 20px 15px
            border-radius: 0
        &__cross
            top: 8px
            right: 8px
