.section
    width: 100%
    padding: 30px 40px
    background-color: #fff
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03)
    border-radius: 6px
    hr
        display: block
        height: 1px
        width: calc(100% + 80px)
        margin: 30px -40px
        border: none
        background-color: #DADADA
    & + .section
        margin-top: 30px
    & + .section-half
        margin-top: 15px
    &__title
        display: flex
        align-items: center
        justify-content: space-between
        font-size: 20px
        line-height: 23px
        color: #323C47
        &.--red
            color: $red
        &.--orange
            color: $orange
        &.--green
            color: $green
        &.--yellow
            color: $yellow
        &.--bold
            font-weight: 500

    +max-screen(940px)
        padding: 30px 20px
        hr
            width: calc(100% + 40px)
            margin: 15px -20px

.section-half
    display: flex
    width: calc(100% + 30px)
    margin: -15px
    & + .section
        margin-top: 30px
    & + .section-half
        margin-top: 15px
    &__item
        width: calc(50% - 30px)
        margin: 15px !important
    +max-screen(940px)
        flex-wrap: wrap
        width: 100%
        margin: 0
        &__item
            width: 100%
            margin: 15px 0 !important