.tablinks
    position: relative
    display: flex
    width: 100%
    min-height: max-content
    margin-bottom: 40px
    user-select: none

    &:before
        content: ''
        position: absolute
        left: 0
        bottom: 2px
        width: 100%
        height: 1px
        background-color: $gray
    
    &__scroll
        position: relative
        display: flex
        width: 100%
        overflow-y: hidden
        overflow-x: auto
        @extend %no-scrollbar

    &__item
        margin-right: 40px
        font-size: 18px
        font-weight: 500
        color: rgba(65, 70, 88, 0.7)
        white-space: pre
        a, span
            display: block
            padding-bottom: 15px
            cursor: pointer
        &:last-child
            margin-right: 0
        &.active
            // color: $green
    &__act
        display: block
        position: absolute
        bottom: 0
        left: 0
        width: 0
        height: 5px
        border-radius: 10em
        background-color: $blue
        transition: 0.3s

    +max-screen($profileBreakePoint)
        margin-bottom: 25px