// ----------------------------------------------------------------------
// Font variables
// ----------------------------------------------------------------------

$baseFont: 'Roboto', Arial, sans-serif;
$titleFont:  Arial, sans-serif;

// ----------------------------------------------------------------------
// Animation speed
// ----------------------------------------------------------------------
$t150: 150ms;
$t300: 300ms;
$t600: 600ms;

// ----------------------------------------------------------------------
// Layout sizes
// ----------------------------------------------------------------------

$navW: 160px;
$topH: 60px;

$padd: 30px;
$content: 910px;
$maxW: $content + ($padd * 2);
$minW: 320px;

$padd-xs: 15px;

$profileBreakePoint: 940px;

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------


$green: #96C66B;
$greenLight: #3EC376;
$red: #EB5757; 
$darkBlue: #414658;
$orange: #FF6D4A; 
$blue: #4DA1FF; 
$white: #fff; 
$yellow: #FFD012;
$gray: #A5A7AE;
$purple: #9B51E0;

$fontColor: $darkBlue;
$bodyColor: $white;

$fontLight: $white;
$fontDark: $darkBlue; 
