.button
    display: flex
    align-items: center
    justify-content: center
    width: min-content
    min-width: 170px
    padding: 10px 18px
    font-size: 14px
    font-weight: normal
    color: $white
    fill: $white
    white-space: pre
    user-select: none
    cursor: pointer
    transition: 0.3s
    border-radius: 4px
    &__icon
        display: flex
        fill: inherit
        & + .button__text
            margin-left: 17px
        svg
            width: 11px
            height: 15px
            fill: inherit
        path
            fill: inherit
    &__text
        color: inherit
        transition: 0.3s border-color

    &:hover
        opacity: 0.7
    &.--blue
        background-color: $blue
    &.--orange
        background-color: $orange
    &.--green
        background-color: $green
    &.--white
        background-color: $white
        fill: $blue
        color: $blue
    &.--disable
        background-color: #DADADA !important
        color: #fff !important

.btn
    font: inherit
    color: inherit
    user-select: none
    cursor: pointer
    &--gray
        background-color: $gray
        color: $fontLight
        span::after
            background-color: $fontLight !important
    &--darkBlue
        background-color: $darkBlue
        color: $fontLight
        span::after
            background-color: $fontLight !important
    &--red
        background-color: $red
        color: $fontLight
        span::after
            background-color: $fontLight !important

    &--green
        background-color: $green
        color: $fontLight
        span::after
            background-color: $fontLight !important

    &--orange 
        background-color: $orange
        color: $fontLight
        span::after
            background-color: $fontLight !important

    span
        position: relative
        font: inherit
        color: inherit
        &:after
            content: ''
            position: absolute
            bottom: 0
            left: 0
            display: block
            width: 0
            height: 1px
            background-color: $fontDark
            transition: 0.3s width

    &:hover
        span::after
            width: 100%