.card-iconbtn
    display: flex
    align-items: center
    flex-wrap: wrap
    padding: 23px 42px
    background: $white
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03)
    border-radius: 6px
    ._icon
        display: flex
        align-items: center
        justify-content: center
        width: 55px
        min-width: 55px
        height: 55px
        margin-right: 25px
        box-shadow: 1px 2px 17px rgba(0, 0, 0, 0.07)
        border-radius: 4px
        path
            width: 25px
            height: 25px
            fill: $white
        &.--orange
            background-color: $orange
        &.--green
            background-color: $green
        &.--yellow
            background-color: $yellow
        &.--blue
            background-color: $blue
    ._text
    ._tit
        display: flex
        align-items: center
        font-size: 20px
    ._subtit
        font-size: 18px
        line-height: 36px
        color: #989898
    ._btns
        margin-top: 20px
        margin-left: auto
    ._btn
        display: flex
        align-items: center
        justify-content: center
        padding: 7px 20px
        border: 1px solid rgba(77, 161, 255, 0.7)
        border-radius: 2px
        font-size: 11px
        user-select: none
        cursor: pointer
        transition: 0.3s
        color: $white
        &:hover
            opacity: 0.7
        &.--orange
            background-color: $orange
        &.--green
            background-color: $green
        &.--yellow
            background-color: $yellow
        &.--blue
            background-color: $blue
