.balance-club
    display: flex
    justify-content: space-between
    &__img
        display: flex
        align-items: center
        justify-content: center
        width: 40px
        height: 40px
        min-width: 40px
        margin-bottom: 10px
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15)
        border-radius: 5px
        overflow: hidden
        margin-right: 20px

        &.--img
            background: #FFF
            img
                max-height: 40px
                max-width: 40px
        &.--icon
            background: #4DA1FF
            img
                max-height: 25px
                max-width: 25px
    &__tit
        width: calc(100% - 140px)
        font-size: 10px
        line-height: 15px
        white-space: normal
    &__right
        margin-left: auto
    &__val
        font-size: 14px
        font-weight: 500
        line-height: 18px
        &:before
            content: '₽'
            margin-right: 3px
    &__btn
        display: flex
        align-items: center
        justify-content: center
        width: min-content
        height: 18px
        padding: 10px
        margin: 5px 0
        border-radius: 32px
        font-size: 9px
        color: #fff
        background: linear-gradient(159.08deg, #4576AE 1.86%, #4DA1FF 99.07%)
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15)
        user-select: none
        cursor: pointer
