.chat
    position: relative
    display: flex
    flex-direction: column
    width: 100%
    height: calc(100vh - 84px - 40px - 120px)
    background: #fff
    border-radius: 10px
    
    &.--fixed
        position: fixed

    +max-screen($profileBreakePoint)
        height: 100%
        border-radius: 0
        &.--fixed
            position: static
            top: auto !important
            left: auto !important
            width: 100% !important
            height: 100% !important

    &__disabled
        width: 100%
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        path
            fill: #DBDBDB
        span, a
            padding-top: 20px
            font-size: 11px
            line-height: 15px
            text-align: center
            text-decoration-line: underline
            color: #4DA1FF
            cursor: pointer
            user-select: none
            
    &__header
        position: relative
        width: 100%
        height: 56px 
        padding: 18px 16px 20px
        border-bottom: 1px solid #eee
    &__title
        font-size: 14px
        font-weight: 500
        line-height: 17px
    &__date
        position: absolute
        z-index: 5
        top: calc(100% + 20px)
        left: 50%
        transform: translateX(-50%)
        font-size: 12px
        font-weight: 500
        letter-spacing: 0.08em
        color: rgba(65, 70, 88, 0.7)
        background: rgba(214, 221, 241, 0.51)
        border-radius: 30px
        padding: 5px 20px
        transition: 0.3s
        &._hide
            opacity: 0
        &._show
            opacity: 1
    &__body
        position: relative
        z-index: 4
        width: 100%
        height: 100%
        padding: 18px 16px 20px
        padding-top: 60px
        overflow: auto
        @extend %chat-scroll
    &__empty
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        width: 100%
        height: 100%
        span
            margin-top: 15px
            max-width: 102px
            font-size: 11px
            line-height: 15px
            text-align: center
            color: rgba(0, 0, 0, 0.3)
            cursor: default
        & + .chat__body
            display: none
    &__footer
        position: relative
        z-index: 5
        width: 100%
        height: fit-content
        max-height: 40vh
        border-top: 1px solid #eee
        margin-top: auto
    &__typing
        position: absolute
        width: calc(100% - #{16 + 16}px)
        bottom: calc(100% + 5px)
        left: 16px
        display: flex
        justify-content: flex-end
        font-size: 12px
        line-height: 14px
        color: rgba(65, 70, 88, 0.6)
        span
            max-width: 127px
            overflow: hidden
            display: inline-flex
            white-space: pre
            margin-right: 5px
    &__textarea
        position: relative
        width: calc(100% - 51px)
        height: 100%
        max-height: 100%
        min-height: 56px 
        overflow: auto
        @extend %chat-scroll
        direction: rtl
        ._autoResize
            position: relative
            padding: 18px 0 16px 16px
            direction: ltr
        textarea
            position: absolute
            top: 18px
            left: 16px
            width: 100%
            height: 100%
            padding-right: 16px
            margin-bottom: -20px
            resize: none
            font-size: 14px
            line-height: 17px
            overflow: hidden
            &::placeholder
                color: #797E8E
        ._shadow
            font-size: 14px
            line-height: 17px
            opacity: 0
            white-space: pre-wrap
    &__sendBtn
        position: absolute
        top: 5px
        right: 5px
        width: 41px
        height: 41px
        padding: 13px
        padding-left: 10px
        border-radius: 6px
        cursor: pointer
        transition: 0.3s
        &:hover
            background-color: $darkBlue
            path
                fill: $white


%chat-scroll
    &::-webkit-scrollbar-track
        background: rgba($darkBlue, 0.2)
    &::-webkit-scrollbar
        width: 5px
        height: 5px
    &::-webkit-scrollbar-thumb
        background: rgba($darkBlue, 0.8)
        border-radius: 10em
        cursor: pointer


.message
    position: relative
    width: 90%
    padding: 12px
    border-radius: 10px
    margin-bottom: 16px
    display: flex
    flex-direction: column
    cursor: default
    &:after
        content: ''
        position: absolute
        bottom: 12px
        display: block
        width: 9px
        height: 9px
        z-index: 2
    &__tit
        font-size: 13px
        line-height: 15px
        font-weight: 500
        color: inherit
        &--green
            color: $green
        &--red
            color: $red
        &--blue
            color: $blue
        &--orange
            color: $orange
        &--purple
            color: $purple
    &__text
        font-size: 14px
        line-height: 16px
        color: inherit
    &__footer
        display: flex
        justify-content: flex-end
        align-items: flex-end
        // margin-top: auto
        margin-bottom: -10px
        svg
            margin-left: 6px
        path
            fill: rgba(255, 255, 255, 0.7)
    &__time
        font-size: 12px
        line-height: 14px
    &__status
    &__arr
        position: absolute
        bottom: 10px
    &--pull
        margin-right: auto
        background-color: #4DA1FF
        color: $white !important
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14)
        &:before
            content: ''
            display: block
            position: absolute
            bottom: 14px
            width: 6px
            height: 4px
            right: calc(100% - 5px)
            box-shadow: -6px 1px 9px rgba(0, 0, 0, 0.14)
            z-index: 1
        &:after
            right: calc(100% - 1px)
            background: url(/assets/images/messageArrPull.svg) no-repeat center
        .message__time
            // color: rgba(65, 70, 88, 0.6)
        .message__status
            display: none
    &--push
        margin-left: auto
        background-color: #EDF6FF
        color: #424242 !important
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12)
        &:after
            left: calc(100% - 1px)
            background: url(/assets/images/messageArrPush.svg) no-repeat center
        .message__time
            // color: rgba(255, 255, 255, 0.7)
        .message__tit
            // color: $white !important
    &--noti
        margin-left: auto
        margin-right: auto
        background-color: #FFF7CF
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14)
        .message__title
            display: none
        .message__text
            font-size: 12px
            line-height: 14px
            text-align: center
        .message__footer
            display: none
    
.disChat
    max-width: 320px
    margin-left: auto
    margin-right: auto
    padding: 25px
    border-radius: 10px
    img
        width: 100%
        border-radius: 10px
        box-shadow: -1px -1px 30px rgba(0, 0, 0, 0.25)
        color: transparent
        & + .disChat__text
            margin-top: 20px
    &__text
        font-size: 12px
        line-height: 20px
        text-align: center
    &__btn
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        margin-top: 20px
