.chart-pregress
    position: relative
    &__text
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        text-align: center
        color: $darkBlue
        white-space: pre
    &__num
        font-size: 50px
        line-height: 60px
        font-weight: bold
    &__subtit
        font-size: 22px