.fromTo
    margin-top: 20px
    &__title
        width: 100%
        font-size: 11px
        letter-spacing: 0.1px
        font-size: 11px
        color: #323C47
        margin-bottom: 12px
    &__list
        display: flex
        align-items: center
        & + & 
            margin-top: 10px
    &__item
        display: flex
        align-items: center
        & + & 
            margin-left: 10px
    &__label
        font-size: 11px
        letter-spacing: 0.1px
        margin-right: 10px
        min-width: 14px
    &__input
        width: 92px
    &.--time, &.--age
        .fieldSelect
            ._input input
                padding-left: 10px;
                padding-right: 55px !important;
