.gallery
    user-select: none
    & + .formRow,
    & + .gallery
        margin-top: 25px
    ._title
        width: 100%
        font-size: 20px
        line-height: 23px
        color: #323C47
        margin-bottom: 10px
    ._subtitle
        display: flex
        align-items: center
        margin-top: 25px
        font-size: 10px
        color: #808FA3
        &__icon
            display: flex
            align-items: center
            justify-content: center
            width: 10px
            height: 10px
            margin-right: 10px
            background-color: $green
            border-radius: 10em
            svg
                width: 7px
                height: 7px
            path
                fill: #fff
    ._wrap
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        width: calc(100% + 30px)
        margin-left: -15px
        margin-right: -15px
        &.--scroll
            width: 100%
            margin: 0
            flex-wrap: nowrap
            overflow: auto
            @extend %default-scrollbar
            ._item
                &:first-child
                    margin-left: 0
                &:last-child
                    margin-right: 0
    ._item
        position: relative
        margin: 15px
        z-index: 1
        cursor: pointer
        &:last-child
            margin-right: auto
        img
            max-width: 100%
        &:hover
            ._cross
                opacity: 1
                visibility: visible
        ._img
            display: flex
            align-items: center
            justify-content: center
            width: 119px
            height: 114px
            overflow: hidden

    ._cross
        position: absolute
        top: -6px
        right: -6px
        display: flex
        align-items: center
        justify-content: center
        width: 18px
        height: 18px
        background-color: $blue
        border-radius: 10em
        cursor: pointer
        opacity: 0
        visibility: hidden
        transition: 0.3s
        svg
            width: 8px
            height: 8px
        path
            fill: #fff

.gallery_drag
    position: relative
    margin: 15px
    z-index: 500
    cursor: pointer
    img
        max-width: 100%
    &:hover
        ._cross
            opacity: 1
            visibility: visible
    ._img
        display: flex
        align-items: center
        justify-content: center
        width: 119px
        height: 114px
        overflow: hidden