.label
    display: flex
    align-items: center
    width: 276px
    height: 60px
    border: 1px solid #E9EFF4
    border-radius: 5px
    &__icon
        display: flex
        align-items: center
        justify-content: center
        width: 60px
        height: 100%
        border-right: 1px solid #E9EFF4
        path
            fill: $darkBlue
    &__text
        display: flex
        justify-content: center
        flex-direction: column
        padding: 5px 30px
    &__tit
        font-size: 11px
        font-weight: 500
        letter-spacing: 0.39px
        margin-bottom: 2px
    &__val
        display: flex
        align-items: center
        font-size: 14px
        line-height: 26px
        color: #323C47
        &:before
            content: ''
            display: block
            width: 5px
            height: 5px
            border-radius: 10em
            background: $darkBlue
            margin-right: 6px

    &.--orange
        .label__icon
            path
                fill: $orange
        .label__tit
            color: $orange
        .label__val::before
            background-color: $orange
    &.--red
        .label__icon
            path
                fill: $red
        .label__tit
            color: $red
        .label__val::before
            background-color: $red
    &.--green
        .label__icon
            path
                fill: $green
        .label__tit
            color: $green
        .label__val::before
            background-color: $green

.label-list
    display: flex
    flex-wrap: wrap
    width: calc(100% + 10px)
    margin-left: -5px
    margin-right: -5px
    .label
        margin: 5px