.levelList
    display: flex
    flex-wrap: wrap
    margin-left: -15px
    margin-right: -15px
    li
        display: flex
        align-items: center
        font-size: 10px
        line-height: 11px
        color: #808FA3
        margin: 0 15px
        &:before
            content: ''
            display: block
            width: 8px
            height: 8px
            border-radius: 10em
            background-color: #808FA3
            margin-right: 5px
        &.--orange
            &:before
                background-color: $orange
        &.--green
            &:before
                background-color: $green
        &.--yellow
            &:before
                background-color: $yellow
        &.--blue
            &:before
                background-color: $blue
    +max-screen(640px)
        margin-left: -5px
        margin-right: -5px
        width: calc(100% + 10px)
        li
            margin: 15px 5px 0
              