.list-check
    ._item
        display: flex
        width: 100%
        font-size: 13px
        line-height: 15px
        margin-bottom: 15px
        &:last-child
            margin-bottom: 0 !important
        &__key
            color: #C4C4C4
            width: 110px
            min-width: 110px
            padding-right: 30px
        &__val

    +max-screen(640px)
        ._item
            flex-wrap: wrap
            &__key
                width: 100%
            &__val
                width: 100%
                margin-top: 5px
