.list-price
    ._item
        display: flex
        font-size: 14px
        margin-bottom: 20px
        cursor: pointer
        &:hover
            ._item__tit,
            ._item__param
                color: $blue
            ._item__tit::after
                background-color: $blue
        &:last-child
            margin-bottom: 0
        &__tit
            display: flex
            align-items: center
            justify-content: space-between
            width: 100%
            font-weight: 500
            transition: 0.3s
            span
                white-space: pre
                padding-right: 30px
                width: min-content
            &:after
                content: ''
                display: block
                width: 100%
                height: 1px
                background-color: #EFF0F4
                transition: 0.3s

        &__param
            width: 110px
            text-align: right
            transition: 0.3s
        &.--p1
            ._item__tit
                width: calc(100% - 110px)
        &.--p2
            ._item__tit
                width: calc(100% - #{110*2}px)
        &.--p3
            ._item__tit
                width: calc(100% - #{110*3}px)
        &.--p4
            ._item__tit
                width: calc(100% - #{110*4}px)

    +max-screen(640px)
        ._item
            flex-wrap: wrap  
            border-bottom: 1px solid #EFF0F4
            padding-bottom: 15px
            margin-bottom: 15px
            &:last-child
                border-bottom: none
                margin-bottom: 0 
            &__tit
                width: 100% !important
                &:after
                    content: none
            &__param
                margin-top: 15px
                text-align: center
            &.--p1
                ._item__param
                    width: 100%
            &.--p2
                ._item__param
                    width: calc(100% / 2)
            &.--p3
                ._item__param
                    width: calc(100% / 3)
            &.--p4
                ._item__param
                    width: calc(100% / 4)
