.priceBlock
    &__title
        width: 100%
        font-size: 11px
        letter-spacing: 0.1px
        font-size: 11px
        color: #323C47
        margin-bottom: 12px
    &__price
        display: flex
        align-items: center
        justify-content: flex-start
        padding: 5px 10px
        width: 150px
        height: 36px
        border: 1px dashed #C4C4C4
        border-radius: 2px
        color: #424242
        input
            width: 100%
            font-size: 20px
            font-weight: bold
        svg
            width: 14px
            min-width: 14px
            height: 14px
            margin-right: 5px
        path
            fill: #424242