.profile
    position: relative
    width: 100%
    background: #FFFFFF
    border: 1px solid #E4E8EA
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03)
    border-radius: 6px
    &__edit
        position: absolute
        top: 20px
        right: 20px
        display: flex
        align-items: center
        justify-content: center
        width: 28px
        height: 28px
        border-radius: 6px
        border: 1px solid #fff
        fill: #fff
        path
            fill: inherit
    &__image
        width: 100%
        height: 270px
        background-color: #aaa
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        border-top-left-radius: 6px 
        border-top-right-radius: 6px 
    &__name
        display: block
        width: 100%
        max-width: 320px
        margin: 40px auto 15px
        padding: 0 20px
        font-weight: bold
        line-height: 30px
        font-size: 18px
        text-align: center
        color: #323C47
        word-break: break-word
    &__site
        display: block
        width: 100%
        padding: 15px 20px
        font-size: 12px
        text-decoration-line: underline
        text-align: center
        color: #4DA1FF
    &__params
        position: relative
        display: flex
        justify-content: space-between
    &__paramsLink
        position: absolute
        top: 10px
        right: 20px
        font-size: 12px
        text-decoration-line: underline
        color: #4DA1FF
    hr
        margin: 0
        color: #DADADA
        opacity: 0.5

.profileParam
    display: flex
    flex-direction: column
    align-items: center
    padding: 45px 20px 20px
    text-align: center
    &__icon
        position: relative
        display: flex
        align-items: center
        justify-content: center
        width: 48px
        height: 48px
        min-width: 48px
        min-height: 48px
        margin-bottom: 10px
        border-radius: 10em
        background-color: #aaa
        svg
            width: auto
            height: 22px
        path
            fill: #fff
    &__tit
        width: 100%
        margin-bottom: 5px   
        line-height: 15px
        font-size: 14px
        text-decoration-line: underline
        color: #323C47
    &__val
        width: 100%
        font-weight: 500
        line-height: 20px
        font-size: 18px
        color: #C4C4C4
    &.--blue
        .profileParam__icon
            background-color: #4DA1FF
    &.--yellow
        .profileParam__icon
            background-color: #FFD012
    &.--pink
        .profileParam__icon
            background-color: #FC577A

.profileLine
    padding: 30px 20px
    &__tit
        font-weight: bold
        line-height: 20px
        font-size: 18px
        color: #323C47
        margin-bottom: 7px
    &__val
        text-transform: capitalize
        line-height: normal
        font-size: 12px
        color: #797E8E

.profilePrice
    padding: 30px 20px
    display: flex
    align-items: center
    justify-content: space-between
    font-weight: bold
    color: #323C47
    &__tit
        font-size: 24px
    &__val
        font-size: 20px
        svg
            width: 20px
            height: 13px
        path
            fill: #979797