.middle-cross
    position: absolute
    top: -6px
    right: -6px
    display: flex
    align-items: center
    justify-content: center
    width: 18px
    height: 18px
    background-color: $blue
    border-radius: 10em
    cursor: pointer
    transition: 0.3s
    svg
        width: 8px
        height: 8px
    path
        fill: #fff

.small-cross
    position: absolute
    top: -5px
    right: -5px
    display: flex
    align-items: center
    justify-content: center
    width: 12px
    height: 12px
    background-color: $blue
    border-radius: 10em
    cursor: pointer
    transition: 0.3s
    svg
        width: 6px
        height: 6px
    path
        fill: #fff
        