.tags
    display: flex
    flex-wrap: wrap
    padding: 10px 15px
    border: 1px dashed $blue
    border-radius: 2px
    ul
        display: flex
        flex-wrap: wrap
        width: fit-content
        margin: 4px 0
        border-radius: 20px
        overflow: hidden
    li
        position: relative
        display: flex
        height: min-content
        cursor: default
        border: 3px solid #323C47
        background-color: #323C47
        overflow: hidden
        &:last-child
            margin-right: 4px
        div
            display: flex
            align-items: center
            width: min-content
            min-width: 116px
            height: 36px
            padding-left: 20px
            padding-right: 5px
            background: $red
            border-radius: 54px
            color: $white
            font-size: 13px
            line-height: 27px
            white-space: pre
            user-select: none
        span
            margin-right: 10px
        i
            display: flex
            margin-left: auto
            cursor: pointer
            path
                fill: $white
            &:hover
                opacity: 0.7
        &.--first-row
            border-top-left-radius: 20px
            border-bottom-left-radius: 20px
        &.--last-row,
        &:last-child
            border-top-right-radius: 20px
            border-bottom-right-radius: 20px
        &.--orange
            div
                background-color: $orange
        &.--green
            div
                background-color: $green
        &.--yellow
            div
                background-color: $yellow
        &.--blue
            div
                background-color: $blue
