.tree
    position: relative
    z-index: 1
    display: flex
    padding-left: 27px
    font-size: 12px
    background-color: #fff
    ._text
        display: flex
        align-items: center
        cursor: pointer
        span
            opacity: 0.7
            transition: 0.3s, 0s font-weight
        &:before
            content: ''
            position: relative
            z-index: 3
            display: block
            width: 12px
            height: 12px
            margin-right: 10px
            border: 4px solid $white
            background-color: $red
            border-radius: 10em
            transition: 0.3s
        &.--a0
            &:before
                width: 18px
                height: 18px
        &.--a1
            &:before
                width: 16px
                height: 16px
        &.--a2
            &:before
                width: 14px
                height: 14px
        &.--a3
            &:before
                width: 12px
                height: 12px
        &.--orange
            &:before
                background-color: $orange
        &.--green
            &:before
                background-color: $green
        &.--yellow
            &:before
                background-color: $yellow
        &.--blue
            &:before
                background-color: $blue
        &.--act
            font-weight: 700
            span
                opacity: 1
            &:before
                transform: scale(2)
        &:hover
            span
                opacity: 1
            &:before
                transform: scale(2)
    ._arr
        position: absolute
        bottom: calc(100% - 15px)
        right: calc(100% - 9px)
        path
            stroke-width: 2px !important
        &.--a0
            display: none
        &.--a1
            right: calc(100% - 10px)
            path
                stroke-width: 6px !important
        &.--a2
            right: calc(100% - 10px)
            path
                stroke-width: 4px !important
        &.--a3
            path
                stroke-width: 2px !important
        &.--orange
            path
                stroke: $orange
        &.--green
            path
                stroke: $green
        &.--yellow
            path
                stroke: $yellow
        &.--blue
            path
                stroke: $blue
    ._level
        position: relative
        margin-top: 25px
        margin-left: 38px
        &:before
            content: ''
            position: absolute
            z-index: 2
            left: 5px
            bottom: 10px
            display: block
            width: 2px
            height: calc(100% - 20px)
            background-color: $red
        &.--a0
            margin-top: 0
            margin-left: 0
            &:before
                width: 8px
        &.--a1
            &:before
                width: 6px
        &.--a2
            &:before
                width: 4px
        &.--a3
            &:before
                width: 2px
        &.--orange
            &:before
                background-color: $orange
        &.--green
            &:before
                background-color: $green
        &.--yellow
            &:before
                background-color: $yellow
        &.--blue
            &:before
                background-color: $blue
