.uploadBanner
    width: 100%
    margin-bottom: 20px
    position: relative
    &__preview
        position: relative
        width: 100%
        height: 270px
    &__slideList
        position: relative
        z-index: 1
        display: flex
        width: 100%
        height: 100%
        border: 1px dashed $blue
        background-color: #aaa
    &__slide
        position: absolute
        top: 0
        left: 0
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        &.--hide
            opacity: 0
            visibility: hidden
            z-index: 1
        &.--show
            opacity: 1
            visibility: visible
            z-index: 2
    &__slideTitle
        font-size: 20px
        line-height: 24px
        font-weight: bold
        text-align: center
        color: #fff
    &__thumbList
        position: absolute
        z-index: 2
        bottom: 10px
        left: 10px
        display: flex
        width: min-content
        max-width: calc(100% - 20px)
        background-color: #fff
        border-radius: 6px
        .--sortable
            display: flex
    &__thumb
        position: relative
        display: flex
        align-items: center
        justify-content: center
        width: 60px
        height: 60px
        min-width: 60px
        background-color: #fff
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        border-radius: 6px
        border: 1px dashed $blue
        margin: 8px
        cursor: pointer
        user-select: none
        z-index: 1
        span
            font-size: 10px
            text-align: center
            padding: 5px
            color: $blue
        input
            display: none
    &__thumbCross
        position: absolute
        top: -8px
        right: -8px
        display: flex
        align-items: center
        justify-content: center
        width: 16px
        height: 16px
        background-color: $blue
        border-radius: 10em
        cursor: pointer
        svg
            width: 8px
        path
            fill: #fff
    &__text
        span
            display: block
            font-size: 10px
            margin: 15px 0 10px
        input
            width: 100%
            height: 45px
            font-size: 14px
            background-color: #fff
            border: 1px solid #E9EFF4
            border-radius: 4px
            padding: 0 30px
    &__saving
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.5)
        z-index: 2
