.geoBallon
    display: flex
    width: 376px
    max-width: 100%
    height: 80px
    background-color: #fff
    box-shadow: -4px 5px 9px rgba(0, 0, 0, 0.21)
    border-radius: 6px
    position: absolute
    left: 0
    right: 0
    margin: 0 auto
    bottom: 20px

    &__icon
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        width: 78px
        min-width: 78px
        height: 100%
        border-right: 1px solid #DADADA
        span
            line-height: 27px
            font-size: 10px
            text-align: center
            color: #C4C4C4
    &__text
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
        font-size: 13px
        line-height: 27px
        letter-spacing: -0.1625px
        color: #323C47
