.section-geo
    &__wrap
        display: flex
        flex-wrap: wrap
    &__param
        width: 210px
        max-width: 100%
        padding-right: 20px
        .section__title
            margin-bottom: 25px
        li
            display: flex
            align-items: flex-start
            margin-bottom: 20px
            font-size: 10px
        i
            margin-right: 20px
            svg
                width: 20px
                height: 12px
            path
                fill: $blue
        ._span
            display: block
            margin-bottom: 10px
            &:last-child
                margin-bottom: 0
    &__place
        width: calc(100% - 210px)
        max-width: 580px
        margin-left: auto
        height: 203px
        border-radius: 4px
        background-color: #eee

    +max-screen(640px)
        &__param
            width: 100%
        &__place
            margin-left: 0
            width: 100%
            max-width: 100%

