.tab-section
    margin: 30px 0
    &_title
        margin-bottom: 5px
        font-size: 20px
        font-weight: 500
        color: #323C47
        padding-left: 30px
    &__nav
        position: relative
        background-color: #FBFBFD
        border-top-left-radius: 6px
        border-top-right-radius: 6px
        padding-top: 10px
        overflow: auto hidden
        @extend %default-scrollbar
        &:before,
        &:after
            content: ''
            position: absolute
            left: 0
            width: 100%
            height: 10px
        &:before
            top: 0
            background-color: #f7f7f7
        &:after
            top: 100%
            background-color: $white
            box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.05)
        ul
            display: flex
            align-items: center
            width: min-content
        li
            position: relative
            display: flex
            align-items: center
            justify-content: center
            height: 60px
            padding: 0 30px
            white-space: pre
            background-color: transparent
            transition: 0.3s
            border-top-left-radius: 6px
            border-top-right-radius: 6px
            cursor: pointer
            user-select: none
            &::after
                content: ''
                position: absolute
                top: 15px
                left: 0
                display: block
                width: 1px
                height: 30px
                background-color: #C4C4C4
                transition: 0.3s
            &:first-child
                &:after
                    background-color: transparent
            &.--active
                font-weight: 500
                background-color: $white
                box-shadow: 0px -3px 7px rgba(0, 0, 0, 0.05)
                z-index: 2
                &:after
                    background-color: transparent
                & + li
                    &::after
                        background-color: transparent
            svg
                width: 13px
                height: 13px
                & + span
                    margin-left: 15px
            path
                fill: $blue
            