.text-area-section
    margin: 30px 0
    &__content
        margin: 25px 0
        height: 200px
        border: 1px solid #E9EFF4
        background: #FFFFFF
        border-radius: 4px
        padding: 10px 20px
        overflow: auto
        @extend %default-scrollbar
        h2
            font-size: 18px
            line-height: 28px
            font-weight: 500
            margin-bottom: 10px
        p
            font-size: 16px
            line-height: 27px