.toggle-section
    margin: 30px 0
    background: #FFFFFF
    border: 1px solid #D4D8DF
    box-sizing: border-box
    border-radius: 6px
    overflow: hidden
    ._top
        display: flex
        align-items: center
        padding: 25px 35px
        border: 1px solid #EFF0F4
        user-select: none
        cursor: pointer
        &__title
            display: flex
            align-items: center
            span
                font-size: 20px
                line-height: 23px
                color: #323C47
            svg
                margin-right: 10px
            path
                fill: #323C47
        &__arr
            margin-left: auto
            transform: rotate(0)
            transition: 0.3s
            svg
                width: 15px
                height: 10px
            path
                fill: $blue
    ._cnt
        opacity: 1
        visibility: visible
        transition: 0.3s
        &__wrap
            padding: 30px
        &__scroll
            padding: 2px 0
            max-height: 385px !important
            overflow: auto
            padding-right: 30px
            @extend %default-scrollbar

    &.--hide
        ._top
            &__arr
                transform: rotate(180deg)
                path
                    fill: #A6B2C4
        ._cnt
            padding-top: 0 !important
            padding-bottom: 0 !important
            max-height: 0 !important
            opacity: 0 !important
            visibility: hidden !important

    +max-screen(640px)
        ._top
            padding: 20px
        ._cnt
            &__wrap
                padding: 20px
            &__scroll
                padding-right: 20px