.authPage
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: url(assets/images/auth-bg.png) center no-repeat
    background-size: cover
    user-select: none
    min-width: $minW
    ._wrap
        display: flex
        align-items: center
        justify-content: center
        max-width: 100%
        min-height: 100%
        max-height: 100%
        height: min-content
        padding: 20px
        overflow: auto
        +max-screen(640px)
            flex-wrap: wrap
    ._popup
        position: relative
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
        width: 520px
        height: 520px
        border-radius: 6px
        padding: 20px
        transition: 0.3s
        &.--login
            background-color: $white
            box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03), 0px 4px 4px rgba(0, 0, 0, 0.25)
        &.--reg
            background-color: rgba(77, 161, 255, 0.9)
            ._text
                position: absolute
                z-index: 2
                max-width: calc(100% - 40px)
                color: $white
                transition: 0.3s
                opacity: 0
                visibility: hidden
            ._form
                transition: 0.3s
        &.--hide
            width: 480px
            height: 480px
            &.--login
                border-bottom-right-radius: 0 
                border-top-right-radius: 0 
                ._form
                    filter: grayscale(1)
                ._btn
                    opacity: 0.5
            &.--reg
                border-bottom-left-radius: 0 
                border-top-left-radius: 0 
                ._text
                    opacity: 1
                    visibility: visible
                ._form
                    opacity: 0
                    visibility: hidden
                    
    ._logo
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100px
        img
            max-width: 206px
            max-height: 100px
    ._form
        display: flex
        flex-direction: column
        width: 100%
        &.--login
            max-width: 240px
            ._input
                margin-bottom: 0
                & + ._input 
                    margin-top: 30px
                &:focus
                    border-color: $blue
            ._btn
                width: 100%
        &.--reg
            max-width: 305px
            ._input
                height: 40px
            ._title
                margin-bottom: 23px
    ._text
        display: flex
        flex-direction: column
        max-width: 100%
        width: 340px
    ._title
        margin-bottom: 30px
        font-size: 24px
        font-weight: 500
        line-height: normal
        color: $white
    ._offer
        margin-bottom: 30px
        font-size: 11px
        line-height: 27px
        color: $white
    ._input
        width: 100%
        height: 45px
        padding: 10px 30px
        margin-bottom: 15px
        background: $white
        border: 1px solid #E9EFF4
        border-radius: 4px
        font-size: 13px
        line-height: 27px
        letter-spacing: -0.1625px
        color: $darkBlue
        transition: 0.3s
        &::placeholder
            color: #C4C4C4
    ._remeber
        display: flex
        align-items: center
        justify-content: center
        margin: 10px
        span
            line-height: 27px
            font-size: 13px
            letter-spacing: -0.1625px
            color: #C4C4C4
            opacity: 1
    ._btn
        display: flex
        align-items: center
        justify-content: center
        width: min-content
        min-width: 140px
        height: 45px
        border-radius: 4px
        user-select: none
        cursor: pointer
        transition: 0.3s
        span
            line-height: 27px
            font-size: 13px
            text-align: center
            white-space: pre
        &.--border
            border: 2px solid $white
            span
                color: $white
        &.--blue
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5)
            background: #4DA1FF
            span
                color: $white
    ._afterLink
        margin-top: 12px
        font-size: 13px
        line-height: 27px
        text-decoration-line: underline
        color: #C4C4C4
