.dashbord-header
    margin-bottom: 30px
    ._top
        display: flex
        align-items: center
    ._img
        width: 50px
        height: 50px
        margin-right: 20px
        img
            max-width: 50px
            max-height: 50px
        svg
            width: 50px
            height: 50px
        path
            fill: $blue
    ._tit
        font-size: 14px
        line-height: 20px
        max-width: 215px
    ._bot
        display: flex
        margin-top: 17px
    ._datetime
        margin-left: auto
        font-size: 14px
        line-height: 16px
        color: rgba(43, 48, 52, 0.4)

    +max-screen(940px)
        ._datetime
            margin-left: 0
