.event
    .checkRadio 
        i
            width: 17px
            height: 17px
            svg
                width: 13px !important
        span
            font-size: 11px
            color: #323C47
    &__line
        display: flex
        align-items: flex-end
    &__colLeft
        display: flex
        align-items: center
        margin-right: auto
    &__colRight
        display: flex
        align-items: center
        margin-left: auto
        .checkRadio 
            margin-top: 20px
            margin-left: 20px
    &__btns
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 20px

    &__typeToggle
        display: flex
        align-items: center
        span
            margin-right: 10px

    &__chatRadio
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        width: 100%
        padding: 50px 0
        img
            margin-bottom: 20px

    &__geo
        position: relative
        width: calc(100% + 40px)
        height: calc(100% + 60px)
        margin-top: -30px
        margin-bottom: -30px
        margin-right: -40px
        background: #aaa
        border-top-right-radius: 6px
        border-bottom-right-radius: 6px
        +max-screen(940px)
            width: calc(100% + 40px)
            height: 400px
            margin: 0 -20px -45px
            border-radius: 0
            border-bottom-left-radius: 6px
            border-bottom-right-radius: 6px

.eventProfile
    display: flex
    justify-content: space-between
    &__chat
        width: calc(100% - 375px - 30px)
    &__profile
        width: 375px
