@import check-radio
@import upload
@import input
@import field-select
@import field-soc
@import verifi

.formRow
    display: flex
    align-items: flex-end
    width: calc(100% + 30px)
    margin-left: -15px
    margin-right: -15px
    hr
        width: calc(100% + 50px) !important
        margin: 20px -25px 15px !important
    .formGrid
        padding-left: 10px
        padding-right: 10%
    & + .formRow,
    & + .gallery
        margin-top: 25px
    &.--titLarge
        ._tit, .fromTo__title
            font-size: 20px
    &.--topStart
        align-items: flex-start
    &--wrap
        flex-wrap: wrap
    &--wraper
        flex-basis: 100%
        display: flex
    &__title
        display: flex
        align-items: center
        flex-wrap: wrap
        width: 100%
        font-size: 20px
        line-height: 23px
        color: #323C47
        margin-bottom: 10px
        padding: 0 15px
        span
            margin-right: 30px
        .levelList
            margin-left: auto
    &__item
        width: 100%
        margin: 15px
        .fieldInput + .fieldInput
            margin-top: 30px
        .fromTo
            margin-top: 0
        &.--auto
            width: min-content
        &.--col1
            width: calc(100% / 12 * 1 - 30px)
        &.--col2
            width: calc(100% / 12 * 2 - 30px)
        &.--col3
            width: calc(100% / 12 * 3 - 30px)
        &.--col4
            width: calc(100% / 12 * 4 - 30px)
        &.--col5
            width: calc(100% / 12 * 5 - 30px)
        &.--col6
            width: calc(100% / 12 * 6 - 30px)
        &.--col7
            width: calc(100% / 12 * 7 - 30px)
        &.--col8
            width: calc(100% / 12 * 8 - 30px)
        &.--col9
            width: calc(100% / 12 * 9 - 30px)
        &.--col10
            width: calc(100% / 12 * 10 - 30px)
        &.--col11
            width: calc(100% / 12 * 11 - 30px)
        &.--col12
            width: calc(100% - 30px)
    +max-screen(940px)
        width: calc(100% + 20px)
        margin-left: -10px
        margin-right: -10px
        hr
            width: calc(100% + 20px) !important
            margin: 20px -10px 15px !important
        .formGrid
            padding-left: 5px
            padding-right: 5px
        &__title
            padding: 0 10px
        &__item
            margin: 10px
            .fieldInput + .fieldInput
                margin-top: 20px
            &.--col1
                width: calc(100% / 12 * 1 - 20px)
            &.--col2
                width: calc(100% / 12 * 2 - 20px)
            &.--col3
                width: calc(100% / 12 * 3 - 20px)
            &.--col4
                width: calc(100% / 12 * 4 - 20px)
            &.--col5
                width: calc(100% / 12 * 5 - 20px)
            &.--col6
                width: calc(100% / 12 * 6 - 20px)
            &.--col7
                width: calc(100% / 12 * 7 - 20px)
            &.--col8
                width: calc(100% / 12 * 8 - 20px)
            &.--col9
                width: calc(100% / 12 * 9 - 20px)
            &.--col10
                width: calc(100% / 12 * 10 - 20px)
            &.--col11
                width: calc(100% / 12 * 11 - 20px)
            &.--col12
                width: calc(100% - 20px)
    +max-screen(640px)
        &__item
            &.--col2,
            &.--col3,
            &.--col4,
            &.--col5,
            &.--col6,
            &.--col7,
            &.--col8,
            &.--col9,
            &.--col10,
            &.--col11,
            &.--col12
                width: calc(100% - 20px)


.formGrid
    display: flex
    flex-wrap: wrap
    width: 100%
    .fieldInput
        margin: 5px
        width: auto


.formBtn
    display: flex
    align-items: center
    justify-content: center
    width: 50px
    height: 45px
    background: #4DA1FF
    border: 1px solid rgba(77, 161, 255, 0.7)
    border-radius: 2px
    font-size: 11px
    color: #fff
    text-transform: uppercase
    cursor: pointer