.checkRadio
    display: flex
    align-items: center
    width: min-content
    white-space: pre
    user-select: none
    cursor: pointer
    i
        position: relative
        display: flex
        align-items: center
        justify-content: center
        width: 12px
        height: 12px
        margin-right: 5px
        transition: 0.3s
        &:after
            content: ''
            position: absolute
            z-index: 2
            top: 0
            right: 0
            display: block
            width: 100%
            height: 100%
            transition: 0.3s
    span
        opacity: 0.5
        transition: 0.3s
    input
        display: none
    &.--sq
        input
            & + i
                border: 1px solid $green
                background-color: $green
                border-radius: 1px
                &:after
                    background-color: $green
                svg
                    position: relative
                    z-index: 1
                    width: 8px
                path
                    fill: #fff
                    stroke: #fff
            &:checked + i
                &:after
                    width: 0
    &.--cir
        input
            & + i
                border: 1px solid $darkBlue
                background-color: $darkBlue
                opacity: 0.5
                border-radius: 10em
                overflow: hidden
                &:after
                    border: 5px solid $white
                    border-radius: 10em
                svg
                    display: none
            &:checked + i
                opacity: 1
                &:after
                    border-width: 2px
                & + span
                    opacity: 1
    &.--blue
        input + i
            border-color: $blue
            background-color: $blue
            &:after
                background-color: $blue
    &.--white
        input + i
            border-color: $gray
            background-color: $white
            &:after
                background-color: $white
            path
                fill: $blue
                stroke: $blue
        input:checked + i
            border-color: $blue !important

    &.--invert
        span
            order: 1
            margin-right: 5px
        i
            order: 2
            margin-right: 0