.fieldSoc
    width: 100%
    ._title
        width: 100%
        font-size: 11px
        letter-spacing: 0.1px
        color: #323C47
        margin-bottom: 12px
        margin-bottom: 10px
    ._wrap
        display: flex
        flex-wrap: wrap
        align-items: flex-end
        width: 100%
    ._socs
        display: flex
        flex-wrap: wrap
        margin: 10px 0
        margin-right: 15px
    ._soc
        position: relative
        display: flex
        align-items: center
        justify-content: center
        width: 30px
        height: 30px
        background: #EDF6FF
        border-radius: 2px
        margin-right: 13px
        font-size: 11px
        color: #4DA1FF
        opacity: 0.75
        cursor: default
    ._input
        display: flex
        width: 100%
        max-width: max-content
        margin: 10px 0
        input
            width: 100%
            max-width: 240px
            height: 28px
            padding: 0 20px
            margin-right: 5px
            background: #FFFFFF
            border: 1px solid #E9EFF4
            border-radius: 4px
            font-size: 13px
            line-height: 27px
            color: $darkBlue
            transition: 0.3s
            &:focus
                border-color: $blue
            &::placeholder
                font-weight: 300
                color: #C4C4C4
        &__btn
            display: flex
            align-items: center
            justify-content: center
            width: auto
            min-width: 30px
            height: 28px
            padding: 0 15px
            background: $blue
            border-radius: 2px
            font-size: 11px
            text-align: center
            color: #FFFFFF
            cursor: pointer
            transition: 0.3s
            &:hover
                opacity: 0.7