.fieldInput
    position: relative
    display: flex
    flex-wrap: wrap
    width: 100%
    ._tit
        width: 100%
        font-size: 11px
        letter-spacing: 0.1px
        color: #323C47
        margin-bottom: 12px
    ._icon
        display: flex
        align-items: center
        justify-content: center
        width: 45px
        height: 45px
        cursor: pointer
        transition: 0.3s
        &:hover
            opacity: 0.7
        path
            fill: $blue
        &.--red
            path
                fill: $red
    ._input
        position: relative
        width: 100%
        &__value,
        input,
        textarea
            width: 100%
            padding: 15px 20px
            border-radius: 4px
            border: 1px solid #E9EFF4
            background: #FFFFFF
            font-size: 13px
            line-height: 27px
            color: $darkBlue
            transition: 0.3s
            &:focus
                border-color: $blue
            &::placeholder
                font-weight: 300
                color: #C4C4C4
        input
            height: 45px
        textarea
            height: 150px
            resize: none
        &__value
            white-space: pre
            height: 45px
            line-height: 15px
        ._icon
            position: absolute
            top: 0
            right: 0
            width: 45px
            height: 45px
            cursor: pointer
            & + ._input__value,  
            & + input  
                padding-right: #{45px}
            & + ._icon 
                right: 45px
                & + ._input__value,  
                & + input  
                    padding-right: #{45px + 45px}
    ._rte
        width: 100%
        z-index: 1
        .public-DraftEditor-content
            overflow: auto    
            min-height: 280px  
            max-height: 280px  

    &.--error
        ._input
            input
                border-color: $red
                    