.upload
    position: relative
    display: flex
    flex-direction: column
    width: min-content
    user-select: none
    ._preview
        position: relative
        display: flex
        align-items: center
        justify-content: center
        width: 90px
        height: 90px
        text-align: center
        overflow: hidden
        cursor: pointer
        img
            max-width: 100%
        span
            font-size: 10px
            line-height: 11px
            color: $blue
            max-width: 70px
        &__cross
            position: absolute
            top: -6px
            right: -6px
            display: flex
            align-items: center
            justify-content: center
            width: 18px
            height: 18px
            background-color: $blue
            border-radius: 10em
            cursor: pointer
            svg
                width: 8px
                height: 8px
            path
                fill: #fff
        &.--none
            border: 1px dashed $blue
        &.--exists
            border: 1px solid #DADADA
            
    input
        display: none
    ._size
        position: absolute
        top: 100%
        left: 0
        width: 100%
        font-size: 11px
        text-align: center
        line-height: 27px
        color: #C4C4C4
        cursor: default