.verifi
    display: flex
    align-items: center
    justify-content: center
    margin-right: 15px
    width: 180px
    &__state
        display: flex
        align-items: center
        justify-content: center
        min-width: 10px
        height: 10px
        margin-right: 10px
        border-radius: 10em
        font-size: 10px
        font-weight: 300
        color: #fff
        svg
            width: 7px
        path
            fill: #fff
            stroke: #fff
    &__body
        .fieldInput 
            ._tit
                margin-top: -23px
            ._input
                input
                    height: 36px
        .fieldSelect
            &__input
                input
                    padding-right: 55px !important
            &__btn
                width: 35px
                height: 35px
    &.--ok
        .verifi__state
            background-color: $green
    &.--not
        .verifi__state
            background-color: $red
        .fieldInput 
            ._input
                input
                    border-color: $red !important
        .fieldSelect
            &__btn
                border-color: $red !important
                path
                    fill: $red
