@import planner-top
@import planner-table
@import planner-select
@import planner-select-price
@import planner-select-game
@import planner-footer
@import planner-setting-day
@import planner-game

.pl
    display: flex
    flex-direction: column
    min-height: 700px
    max-width: 1180px
    margin-left: auto
    margin-right: auto
    user-select: none
    &.--scroll
        height: calc(100vh - 135px)
        .pl-table-scroll
            overflow: auto scroll
