.pl-day-setting
    position: absolute
    left: 0
    top: 0
    display: flex
    justify-content: space-between
    width: 100%
    height: 163px
    padding-left: $pl-time-w
    z-index: 32
    &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 20px
        background-color: #fff
    ._item
        position: relative
        width: 100%
        min-width: 155px
        height: 100%

.pl-day-popup
    position: absolute
    bottom: 0
    left: calc(50% - 105px)
    width: 210px
    height: auto
    padding: 20px
    background: linear-gradient(330.6deg, #4576AE -58.74%, #4DA1FF 69.28%)
    box-shadow: 0px 4px 10px rgba(66, 155, 255, 0.8)
    border-bottom-left-radius: 6px
    border-bottom-right-radius: 6px
    transform: translateY(100%)
    transition: 0.3s
    user-select: none
    ._title
        text-align: center
        font-size: 14px
        font-weight: 500
        color: #fff
    ._interval
        display: flex
        align-items: center
        justify-content: space-between
        margin: 15px 5px 30px
        &__item
            select
                width: 75px
                height: 30px
                border: 1px solid #fff
                border-radius: 2px
                font-size: 20px
                text-align: center
                color: #fff
                option
                    font-size: 12px
                    color: $darkBlue
            input
                width: 30px
                height: 30px
                border: 1px solid #fff
                border-radius: 2px
                font-size: 20px
                color: #fff
                text-align: center
            span
                padding: 2px
                color: #fff
    ._btn
        display: flex
        align-items: center
        justify-content: center
        width: 80px
        height: 24px
        margin-left: auto
        margin-right: auto
        background: #fff
        border-radius: 4px
        font-size: 12px
        font-weight: 500
        color: #4DA1FF
        transition: 0.3s
        cursor: pointer
        &:hover
            opacity: 0.7
    
    &.--hide
        transform: translateY(-10%)
