$pl-top-w: 163px
$pl-time-w: 85px
$pl-cell-w: 155px
$pl-cell-h: 60px
    
.pl-table
    position: relative
    display: flex
    flex-direction: column
    width: 100%
    height: 100%
    border-radius: 6px
    overflow: hidden
    &.--hideCellPrice
        .pl-table-grid ._cell span
            opacity: 0
            visibility: hidden
    &.--hideSelect
        .cellSelect
            opacity: 1 !important
        .pl-table-select
            opacity: 0 !important
            visibility: hidden !important

.pl-table-top
    position: relative
    display: flex
    flex-direction: column
    min-height: max-content
    width: 100%
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.05)
    border-radius: 6px
    background: #FFFFFF
    overflow: hidden
    z-index: 40

.pl-table-head
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    height: 70px
    padding: 0 25px
    user-select: none
    ._wrap
        display: flex
        align-items: center
    ._month
        display: flex
        align-items: center
        &__tit
            font-size: 20px
            margin-right: 15px
            text-align: center
            text-transform: capitalize
        &__arr
            display: flex
            align-items: center
            justify-content: center
            width: 30px
            height: 30px
            margin-left: 5px
            border-radius: 10em
            background-color: #E8E8E8
            cursor: pointer
            transition: 0.3s
            path
                fill: #C4C4C4
            &:hover
                opacity: 0.7
    ._week
        display: flex
        align-items: center
        margin: 0 15px
        &__tit
            font-size: 20px
            color: $blue
            margin: 0 5px
            text-align: center
        &__arr
            margin-top: 2px
            display: flex
            align-items: center
            justify-content: center
            width: 30px
            height: 30px
            cursor: pointer
            transition: 0.3s
            svg
                width: 9px
                height: 15px
            path
                fill: $blue
            &:hover
                opacity: 0.7
    ._tab
        display: flex
        padding: 5px
        margin-left: 20px
        background: rgba(233, 239, 244, 0.48)
        border-radius: 4px
        &__item
            display: flex
            align-items: center
            justify-content: center
            min-width: 65px
            height: 35px
            box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03)
            border-radius: 3px
            font-size: 13px
            color: #C4C4C4
            transition: 0.3s
            &.--active
                background-color: $blue !important
                color: $white !important
            & + ._tab__item
                margin-left: 5px
            &:hover
                background-color: #E8E8E8
    .checkRadio
        i
            width: 17px
            height: 17px
            border-radius: 2px !important
            svg
                width: 13px !important
                height: 9px !important
        span
            font-size: 13px     
            opacity: 1
            margin-right: 10px !important
                
.pl-table-date
    position: relative
    padding-left: $pl-time-w
    display: flex
    align-items: flex-end
    width: 100%
    height: 93px
    border-top: 1px solid #EFF0F4
    ._plus
        position: absolute
        left: 0
        bottom: 0
        z-index: 1
        display: flex
        align-items: center
        justify-content: center
        width: $pl-time-w
        min-width: $pl-time-w
        height: 85px
        border-right: 1px solid #EFF0F4
        background-color: $white
        &__icon
            display: flex
            align-items: center
            justify-content: center
            width: 40px
            //height: 40px
            border-radius: 10em
            background-color: #29CB97
            transition: 0.3s
            cursor: pointer
            svg
                width: 15px
                height: 15px
            path
                fill: $white
                stroke: $white
                stroke-width: 3px
            &:hover
                opacity: 0.7
    ._wrap
        display: flex
        width: 100%
        padding-right: 5px
        margin-left: -1px
    ._item
        position: relative
        display: flex
        flex-direction: column
        padding: 15px
        width: 100%
        min-width: $pl-cell-w
        height: 85px
        border-right: 1px solid #EFF0F4
        background-color: $white
        &:last-child
            border: none
        &.--weekend
            background-color: rgba(41, 203, 151, 0.05)
        &.--now
            ._item__sub::after
                content: ''
                display: block
                width: 6px
                height: 6px
                background-color: $red
                margin-left: 5px
                border-radius: 10em
        &.--other
            background-color: #f7f7f7
        &.--hideSetting
            ._item__btn
                display: none
        &__btn
            position: absolute
            top: 0
            right: 10px
            font-size: 30px
            line-height: 5px
            color: rgba(208, 215, 221, 0.72727)
            cursor: pointer
            transition: 0.3s
            &:hover
                color: $blue
        &__tit
            margin-top: auto
            font-size: 36px
            font-weight: 500
            margin-bottom: 10px
        &__sub
            display: flex
            align-items: center
            font-size: 14px
            color: rgba(43, 48, 52, 0.4)
            text-transform: capitalize

.pl-table-scroll
    position: relative
    display: flex
    width: calc(100% - #{$pl-time-w})
    height: 100%
    margin-left: $pl-time-w
    max-height: min-content
    overflow: auto visible
    @extend %default-scrollbar

.pl-table-time
    position: absolute
    top: $pl-top-w
    left: 0
    z-index: 31
    width: $pl-time-w
    height: max-content
    min-width: $pl-time-w
    background-color: #f7f7f7
    border-right: 1px solid #E9EFF4
    ._item
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: $pl-cell-h
        font-size: 14px
        color: rgba(43, 48, 52, 0.4)

.pl-table-grid
    display: flex
    width: 100%
    min-width: max-content
    height: max-content
    margin-left: -1px
    ._row
        display: flex
        flex-direction: column
        width: 100%
        min-width: $pl-cell-w
        border-right: 1px solid #E9EFF4
    ._cell
        display: flex
        align-items: flex-end
        justify-content: flex-end
        flex-direction: column
        padding: 2px
        width: 100%
        height: $pl-cell-h
        min-height: $pl-cell-h
        background-color: #fff
        border-bottom: 1px solid #E9EFF4
        overflow: hidden
        transition: 0.3s
        &.--closed
            background: #fff !important
            cursor: default
            span
                display: none !important
        &.--empty
            background-color: transparent !important
        &.--game,
        &.--empty
            span
                font-size: 9px
                text-transform: uppercase
        span
            font-size: 14px
            text-align: right
            color: #323C47
            transition: 0.3s

    .cellSelect
        opacity: 0.4

    .rowSelect

    &.--priceLayer
        ._cell
            &.--game
                background-color: transparent !important
    &.--gameLayer
        ._cell
            background-color: transparent !important
            &.cellSelect
                background-color: $blue !important
            &.--game,
            &.--empty
                span
                    display: none


.pl-table-select-wrap
    position: relative
    display: flex
    width: 100%
    min-width: max-content
    height: max-content
    
.pl-table-select
    position: absolute
    top: 10px
    left: 10px
    z-index: 30
    background: linear-gradient(2.47deg, rgba(69, 118, 174, 0) 3.47%, rgba(77, 161, 255, 0.36) 99.42%)
    border-radius: 2px
    border: 1px dashed #4DA1FF
    opacity: 0
    visibility: hidden
    transition: 0.3s opacity, 0.3s visibility
    &.--show
        opacity: 1
        visibility: visible
