.select-popup-planner
    position: absolute
    z-index: 40
    width: max-content
    max-width: 100%
    background: $white
    border: 1px solid #E9EFF4
    box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.05)
    border-radius: 6px
    opacity: 0
    visibility: hidden

    ._cross
        position: absolute
        top: 0
        right: 0
        padding-top: 15px
        padding-right: 15px
        cursor: pointer
        svg
            width: 12px
            height: 12px
        path
            fill: #323C47

    &.--show
        transition: 0.3s
        opacity: 1
        visibility: visible
    &.--reversPosX
        transform: translate(-100%, 0)
    &.--reversPosY
        transform: translate(0, -100%)
    &.--reversPosX.--reversPosY
        transform: translate(-100%, -100%)

    &.--game
        position: fixed !important
        z-index: 100 !important
        left: 50% !important
        top: 50% !important
        transform: translate(-50%, -50%) !important
        overflow: auto !important
        max-height: 100%
