.select-game-popup
    // width: 410px
    max-width: 100%
    ._top
        display: flex
        align-items: center
        width: 100%
        height: 55px
        padding: 0 30px
        border-bottom: 1px solid #E9EFF4
        font-size: 13px
        font-weight: normal
        &__tit
            color: $darkBlue
            margin-right: 20px
        &__btn
            display: flex
            align-items: center
            justify-content: center
            height: 30px
            padding: 10px 25px
            border-radius: 32px
            color: #fff
            background-color: #979797
            cursor: pointer
            &:hover
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3)
            &.--act
                background-color: #29CB97
                &:hover
                    box-shadow: 0px 2px 6px rgba(41, 203, 151, 0.52)
        &__cross
            margin-left: auto
            margin-right: -30px
            padding: 20px
            cursor: pointer
            svg
                width: 15px
                height: 15px
            path
                fill: $darkBlue
    ._body
        display: flex
        width: max-content
        max-width: 100%
    ._layer
        display: flex
        flex-direction: column
        justify-content: center
        width: 350px
        padding: 15px
        padding-left: 29px
        margin-left: 0
        padding-right: 0
        margin-right: 30px
        border-left: 1px solid #E9EFF4
        &:first-child
            border-left: none
        &:last-child
            padding-right: 0
            margin-right: 30px
    ._offer
        margin-top: auto
        margin-bottom: 20px
        text-align: center
        ._checkboxs
            justify-content: center
        &__tit
            font-size: 20px
            margin-bottom: 5px
            font-weight: 500
        &__textTit
            font-size: 10px
            line-height: 12px
            color: $blue
            margin-bottom: 10px
        &__text
            font-size: 10px
            line-height: 12px
            &.--red
                color: $red
    ._title
        font-size: 20px
        line-height: 23px
        & + .fieldSelect,
        & + .fieldInput
            margin-top: 10px
    ._times
        display: flex
        align-content: center
        margin: 15px 0
        span
            display: flex
            align-items: center
            justify-content: center
            width: 36px
            font-size: 13px
            & + .fieldInput
                margin-left: 10px
        .fieldInput
            margin: 2px 
            & + span
                margin-left: 8px
        &.--dur
            display: flex
            span
                width: min-content
            .fieldInput
                width: calc(50% - 30px)
                margin-left: auto
    .formRow
        & + ._title
            margin-top: 20px
    .fieldSelect 
        &__input
            input
                padding-right: 45px !important
        &__btn
            width: 36px
            height: calc(36px - 2px)
            svg
                width: 9px
        &__list
            max-height: 200px
            ul
                padding: 10px
                line-height: 20px
    .fieldInput 
        ._input 
            input
                padding: 0 10px
                height: 36px
            ._icon 
                width: 36px
                height: 36px
                & + input
                    padding-right: 36px
            
    ._checkboxs
        display: flex
        flex-wrap: wrap
        margin: 10px 0
        .checkRadio
            margin-right: 10px
            margin-bottom: 10px
    .checkRadio
        font-size: 11px
        i
            width: 17px
            height: 17px
            border-radius: 3px
            margin-right: 10px
        svg
            width: 12px !important
        span
            color: #323C47
            opacity: 1
    ._footer
        display: flex
        align-items: center
        width: 100%
        padding: 15px 0
        border-top: 1px solid #E9EFF4
        font-size: 13px
        font-weight: normal
    ._btns
        display: flex
        align-items: center
        flex-wrap: wrap
        width: 380px
        padding: 0 25px
        max-width: 100%
        margin-top: -5px
        margin-bottom: -5px
        margin-left: auto
        span, button, a
            display: flex
            align-items: center
            justify-content: center
            width: calc(50% - 10px)
            height: 30px
            margin: 5px
            background-color: #C4C4C4
            border-radius: 2px
            font-size: 11px
            color: #fff
            cursor: pointer
            transition: 0.3s box-shadow
            &:hover
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3)
            &.--blue
                background-color: $blue
                &:hover
                    box-shadow: 0px 2px 6px rgba(77, 161, 255, 0.52)
