.select-price-popup
    width: 300px
    max-width: 100%
    padding: 12px 30px
    ._title
        font-size: 20px
        line-height: 23px
        color: $blue
    ._body
        display: flex
        align-items: center
        justify-content: center
        margin: 10px 0
    ._input
        position: relative
        width: calc(100% - 50px)
        height: 45px
        padding-left: 20px
        padding-right: 45px
        background: #FFFFFF
        border: 1px solid #E9EFF4
        border-radius: 4px
        overflow: hidden
        input
            width: 100%
            height: 45px
        &__label
            position: absolute
            top: 0
            right: 0
            width: 45px
            height: 45px
            display: flex
            align-items: center
            justify-content: center
            border-left: 1px solid #E9EFF4
            font-size: 11px
            color: #323C47
    ._btn
        display: flex
        align-items: center
        justify-content: center
        width: 50px
        height: 45px
        background: $blue
        border: 1px solid rgba(77, 161, 255, 0.7)
        border-radius: 2px
        margin-left: 10px
        font-size: 11px
        color: $white
        text-transform: uppercase
        cursor: pointer
        &:hover
            opacity: 0.7
    .checkRadio
        font-size: 11px
        i
            width: 17px
            height: 17px
            border-radius: 3px
            margin-right: 10px
        svg
            width: 12px !important
        span
            color: #323C47
            opacity: 1
