.pl-top
    display: flex
    flex-wrap: wrap
    min-height: max-content
    margin-bottom: 20px
    ._subtit
        font-size: 14px
        color: rgba(43, 48, 52, 0.4)
        margin-bottom: 15px
    ._tit
        font-size: 24px
        font-weight: bold
        line-height: 30px
    ._status
        margin-top: auto
        margin-left: auto
        margin-bottom: 5px
        font-size: 14px
        color: rgba(43, 48, 52, 0.4)
        text-transform: capitalize

    +max-screen(640px)
        ._text
            max-width: 100%
        ._status
            margin-top: 15px
            margin-left: 0
            width: 100%
