.pl-footer
    display: flex
    padding-top: 15px
    padding-left: $pl-time-w

.pl-footer-color
    position: relative
    width: 100%
    height: 40px
    overflow: hidden
    opacity: 1
    visibility: visible
    transition: 0.3s
    ._line
        width: 100%
        height: 11px
        background-color: #aaa
    li
        position: absolute
        left: auto
        bottom: 0
        font-size: 14px
        color: rgba(43, 48, 52, 0.4)
        transform: translateX(-50%)
        &:first-child
            transform: translateX(0)
        &:last-child
            transform: translateX(-100%)
    &.--hide
        height: 0
        opacity: 0
        visibility: hidden

