.pl-game-list
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    transition: 0.3s
    opacity: 1
    visibility: visible

    &.--hide
        opacity: 0
        visibility: hidden

.pl-game-item
    position: absolute
    width: 155px
    min-width: 155px
    
    &:hover
        z-index: 2 !important

    &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 5px
        transition: 0.3s

    ._wrap
        display: flex
        flex-direction: column
        background-color: #fff
        font-size: 10px
        line-height: 12px
        height: max-content
        transition: 0.3s
        overflow: hidden
        &:hover
            & + ._toolTip
                opacity: 1
                visibility: visible
    
    ._toolTip
        position: absolute
        transform: translate(20px, 20px)
        display: flex
        align-items: center
        justify-content: center
        width: 210px
        min-height: 30px
        height: max-content
        padding: 10px 20px

        background: #FFFFFF
        border: 1px solid #E9EFF4
        box-sizing: border-box
        border-radius: 6px

        opacity: 0
        visibility: hidden
        transition: 0.5s opacity, 0.5s visibility
        span
            font-size: 14px
            color: $fontDark
        &:after
            content: ''
            display: block
            position: absolute
            top: calc(50% - 4px)
            left: 12px
            width: 8px
            height: 8px
            border-radius: 10em

    &.--toolTipReverse
        ._toolTip
            transform: translate(calc(-100% - 20px), 20px)

    ._top
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        min-height: min-content
        padding: 10px 10px 0
        &__tit
            font-size: 9px
            font-weight: 500
            color: $fontDark
        &__sub
            font-size: 10px
            font-weight: 500
            color: $fontDark
            span
                font-size: 12px
                font-weight: bold

    ._hdr
        display: flex
        align-items: center
        width: 100%
        min-height: min-content
        padding: 8px 10px
        border-bottom: 1px solid rgba($fontDark, 0.1)
        &__avatar
            margin-right: 7px
            path
                fill: inherit    
        &__tit
            font-weight: 500
            color: inherit
        &__sub
            color: $fontDark
    ._body
        padding: 10px
        height: 100%
        min-height: max-content
        &__tit
            margin-bottom: 5px
            font-weight: bold
            color: rgba($fontDark, 0.5)
        &__text
            color: $fontDark
    ._btns
        display: flex
        align-items: center
        min-height: max-content
        &__item
            display: flex
            align-items: center
            justify-content: center
            width: 100%
            min-width: max-content
            height: 30px
            padding: 5px 15px
            color: #fff
            background-color: $gray
            border-right: 1px solid rgba($white, 0.1)
            transition: 0.3s
            user-select: none
            cursor: pointer
            &:last-child
                border: none
            &:hover
                opacity: 0.7

    &.--under
        border-top-right-radius: 10em
        border-bottom-right-radius: 10em
        overflow: hidden
        transform: translateX(10px)
        z-index: 3
        transition: 0.3s all
        &:after
            opacity: 0
        ._wrap
            position: relative
            max-height: inherit !important
            opacity: 0 !important
            z-index: 2
            cursor: pointer
    &.--hide
        z-index: 1
        ._wrap
            max-height: inherit !important
    &.--show
        height: auto !important
        z-index: 4 !important
        ._wrap
            border-bottom-left-radius: 4px
            border-bottom-right-radius: 4px
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15)

    @extend .pl-game-item.--gray

    &.--gray
        fill: $gray
        color: $gray
        ._top, ._hdr, ._body
            background-color: rgba($gray, 0.3)
        &:before, &:after, ._btns__item, ._toolTip:after, &.--under
            background-color: $gray
            
    &.--blue
        fill: $blue
        color: $blue
        ._top, ._hdr, ._body
            background-color: rgba($blue, 0.3)
        &:before, &:after, ._btns__item, ._toolTip:after, &.--under
            background-color: $blue

    &.--orange
        fill: $orange
        color: $orange
        ._top, ._hdr, ._body
            background-color: rgba($orange, 0.3)
        &:before, &:after, ._btns__item, ._toolTip:after, &.--under
            background-color: $orange

    &.--red
        fill: $red
        color: $red
        ._top, ._hdr, ._body
            background-color: rgba($red, 0.3)
        &:before, &:after, ._btns__item, ._toolTip:after, &.--under
            background-color: $red

    &.--green
        fill: $green
        color: $green
        ._top, ._hdr, ._body
            background-color: rgba($green, 0.3)
        &:before, &:after, ._btns__item, ._toolTip:after, &.--under
            background-color: $green