.createCardEvent
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    width: 100%
    color: #fff
    border-radius: 2px
    border: 1px dashed #fff
    user-select: none
    cursor: pointer
    span
        margin-top: 20px
        font-size: 15px
        font-weight: 500
        text-align: center
    path
        fill: #fff

.cardEvent
    width: 100%
    color: #fff
    fill: #fff
    &__img
        border-radius: 4px
        position: relative
        width: 100%
        padding-top: 100%
        background-size: cover
        background-position: center
        background-repeat: no-repeat
    &__date
        position: absolute
        top: 8px
        left: 8px
        display: flex
        align-content: center
        justify-content: center
        flex-direction: column
        min-width: 24px
        height: 24px
        background: #FFFFFF
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03)
        border-radius: 4px
        font-size: 9px
        text-align: center
        i
            display: block
            font-style: normal
            color: #323C47
        span
            display: block
            color: $blue
            text-transform: lowercase
    &__tit
        width: 100%
        font-size: 11px
        font-weight: 500
        line-height: 15px
        color: inherit
        margin: 8px 0
        height: 30px
        overflow: hidden
    &__paramList
        display: flex
        justify-content: space-between
    &__param
        display: flex
        align-items: center
        font-size: 9px
        color: inherit
        fill: inherit
        white-space: pre
        opacity: 0.5
        svg
            width: 12px
            min-width: 12px
            height: 12px
            margin-right: 5px
        path
            fill: inherit
    &__bottom
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 10px
        padding-top: 10px
        border-top: 1px solid #757576
    &__price
        font-size: 12px
        font-weight: 500
        line-height: 24px
        color: inherit
    &__link
        font-size: 9px
        line-height: 17px
        color: $blue
        text-decoration: underline
        user-select: none
        cursor: pointer