.listEvent
    position: relative
    z-index: 2
    display: flex
    flex-direction: column
    width: 100%
    height: 100%
    &__top
        padding: 0 20px
        .searchLine
            margin-bottom: 20px
            opacity: 0.5
        .tablinks
            margin-bottom: 0
            &__item
                margin-right: 20px
                span
                    font-size: 14px
                    font-weight: 500
                    color: #fff
                &:last-child
                    margin-right: 0
    &__body
        display: flex
        flex-wrap: wrap
        width: 100%
        padding: 12px
        overflow: auto
        @extend %default-scrollbar
        .cardEvent,
        .createCardEvent
            width: calc(50% - 16px)
            margin: 8px
            margin-bottom: 30px
            min-height: 223px
        .cardEvent__img
            height: 120px
            padding: 0

.popupListEvent
    position: fixed
    z-index: 100
    top: 0
    left: $navW
    width: 380px
    max-width: 100%
    height: 100%
    background-color: #252529
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.22)
    padding: 30px 0
    transform: translateX(-100%)
    opacity: 0
    visibility: hidden
    transition: 0.3s
    &__bg
        position: absolute
        z-index: 1
        top: 0
        left: 0
        width: 100vw
        height: 100%
        
    &.--show
        opacity: 1
        visibility: visible
        transform: translateX(0)
    +max-screen(940px)
        left: 0
