.tp
    display: flex
    flex-wrap: wrap
    margin: -3px
    width: calc(100% + 3px)
    &__empty
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 30px
.tp-popup
    @extend .popup-container
    padding: 12px
    .tp
        width: 303px
